*{
    margin: 0;
    padding: 0;
}

.home__div{
    background: #7EC0E4;
    height: 35em;
}
h1{
    text-align: center;
}

.me__div{
    background-color: #F02A71;
    height: 20em;
}

.me__div p{
    font-size: 3em;
    text-align: center;
}

.div__mywork{
    background: #6789BA;
    height: 30em;
}

.div__mywork p{
    font-size: 3em;
    text-align: center;
}
